
.content-container{
    /* border: 2px solid black; */
    height: 100vh;
}

.blog-container{
    border:2px solid red;
    max-width:800px;
    margin: auto;
    height: 100%;
    padding: 15px;
   
}

.blog-title{
    font-size: 2.2em;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.tags{
    font-size: 1.1em;
    background-color:black;
    color: white;
    border-radius: 5px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 5px;
    width: 190px;
    text-align: center;
}

.main-content{
   font-size: 19px;
   margin-top: 30px;
   line-height: 40px;
   font-family: Helvetica;
}